
body {
  min-height:100vh;
  background-color:black;

}
#mainContainer{
  width: 95%;
  margin:auto
}

.card-lists {
  overflow-x: auto;
}
.tag{

margin:.5rem;

}
.sortable-chosen{
  background-color: transparent;
}
