
body {
  min-height:100vh;
  background-color:black;

}
#mainContainer{
  width: 95%;
  margin:auto
}

.card-lists {
  overflow-x: auto;
}
.tag{
margin:.5rem;

}

.tag:hover{
  opacity: 30%;
  transform: scale(1.2);
}

.sortable-chosen {
  background-color: darkgray;
}
